* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: azure;
}

button {
  font: inherit;
  background: #476c9b;
  border: 1px solid #476c9b;
  cursor: pointer;
  color: white;
  padding: 0.75rem 1rem;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background: #1481ba;
  border-color: #1481ba;
}

.math-card {
  text-align: center;

  width: 30rem;
  margin: 1rem auto;
  border: 1px solid #476c9b;
  background-color: #f0efef;
  margin: 10rem auto;
  padding: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.math-card-header {
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 10px;
}

.controls {
  margin-bottom: 15px;
}

#user-selection {
  margin: 10rem auto;
  padding: 1rem;
  border: 1px solid #2d232e;
  background: #f0efef;
}

.start-buttons {
  display: flex;
  width: 26%;
  align-items: center;
  justify-content: space-around;
}

.green {
  background-color: darkmagenta;
}

.black {
  background-color: darkorange;
}
